:root{
    --basic-px:15px;
    --white:#fff;
    --eee:#eeeeee;
    --white:#fff;
    --red:#e50012 !important;
    --green:#6ac8a8 !important;
    --yellow:#feb54c ;
    --pink:rgb(243,125,131);
    --blue:rgb(3,162,228) !important;
    --blue-dark:rgb(3,161,193);
    --blue-light:rgb(9,209,229);
    --purple-light:rgb(106,120,209);
    --orange:rgb(242,98,53);
    --gray:#909195;
    --gray-drak:#a0a1a5;
    --black:rgb(51,71,71);
    --star:rgb(51,71,71);
    --transparent:transparent !important;
}
/*每个页面公共css */
.c_box{box-sizing: border-box;}
.c_hide{ display: none;}
.c_p_n{ padding: var(--basic-px);}
.c_p_10{ padding: 10px;}
.c_p_t_n{ padding-top: var(--basic-px);}
.c_p_b_n{ padding-bottom: var(--basic-px);}
.c_p_l_n{ padding-left: var(--basic-px);}
.c_p_r_n{ padding-right:var(--basic-px);}
.c_p_0{ padding: 0px;}
.c_p_t_0{ padding-top: 0px;}
.c_p_b_0{ padding-bottom: 0px;}
.c_p_l_0{ padding-left: 0px;}
.c_p_r_0{ padding-right:0px;}

.c_m_0{ margin: 0px;}
.c_m_n{ margin: var(--basic-px);}
.c_m_b_n{ margin-bottom:var(--basic-px);}
.c_m_t_n{ margin-top: var(--basic-px);}
.c_m_l_n{ margin-left: var(--basic-px);}
.c_m_r_n{ margin-right: var(--basic-px);}

.c_m_t_5{ margin-top: 5px;}
.c_m_t_20{ margin-top: 20px;}
.c_m_l_10{margin-left: 10px;}

.c_w{ width: 100%; }
.c_h{ height: 100%; }
.c_w_100{ width: 100vw; }
.c_h_100{ height: 100vh; }
.c_hidden{ overflow: hidden; }
.c_w_max{ max-width: 100%; }
.c_h_max{ max-height: 100%; }
.c_auto{ overflow: auto; }
.c_auto_x{ overflow-x: auto; }
.c_auto_y{ overflow-y: auto; }

/* size */
.c_size_13{font-size: 13px;}
.c_size_14{font-size: 14px;}
.c_size_16{font-size: 16px;}
.c_size_18{font-size: 18px;}
.c_size_20{font-size: 20px;}
.c_size_22{font-size: 22px;}
.c_size_26{font-size: 26px;}
.c_size_30{font-size: 30px;}
.c_size_32{font-size: 32px;}

/*边框*/
.c_b_0{ border: none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; }
.c_b{ border: 1px solid #ccc; }
.c_b_b{ border-bottom: 1px solid #ccc; }

/*主色*/
.c_transparent{color:var(--transparent);}
.c_white{color:var(--white);}
.c_red{color:var(--red)}
.c_green{color:var(--green);}
.c_blue{color:var(--blue) !important; }
.c_blue_dark{color:var(--blue-dark); }
.c_orange{color:var(--orange); }
.c_gray{color:var(--gray); }
.c_gray_drak{color:var(--gray-drak); }
.c_eee{color:var(--eee); }
.c_black{color:var(--black); }
.c_star{color:var(--star); }
/*主色*/
.bg_blue{background:var(--blue); }
.bg_blue_dark{background:var(--blue-dark); }
.bg_orange{background:var(--orange); }
.bg_gray{background:var(--gray); }
.bg_gray_drak{background:var(--gray-drak); }
.bg_black{background:var(--black); }
.bg_yellow{background:var(--yellow); }
.bg_transparent{ background:var(--transparent);}
.bg_white{ background:var(--white);}
.bg_blue_light{background:var(--blue-light);}
/*辅助色*/
.c_pink{color:var(--pink); }
.c_yellow{color:var(--yellow); }
.c_blue_light{color:var(--blue-light); }
.c_purple_light{color:var(--purple-light); }

/*悬浮时*/
.c_h_blue_light:hover{background:#e8f4f7;}
.c_h_underline:hover{border-bottom:1px solid rgb(3,162,228);}

.c_clear::after,
.c_clear::before,
.c_clear{
    content: '';
    display:block;
    clear:both;
}
.c_nowrap{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c_nowrap_normal{
    white-space: normal;
}
.c_absolute_right{ position:absolute;right: 0; }
.c_auto{ overflow: auto; }
.c_rela{ position: relative;}
.c_pointer{ cursor: pointer;}
.c_no_pointer{ pointer-events: none;}
.c_all_pointer{ pointer-events: all;}
.c_opacity{ opacity: 0;}
.c_left{ text-align: left;}
.c_center{ text-align: center;}
.c_right{ text-align: right;}
.c_lf{ float: left;}
.c_rt{float: right;}

/* flex */
.c_flex{display: flex;}
.c_flex_row{flex-direction: row;}
.c_flex_col{flex-direction: column;}
.c_flex_1{flex: 1;}
.c_flex_center{align-items: center;justify-content:center;}
.c_flex_between{justify-content:space-between;}
.c_flex_around{justify-content:space-around;}
.c_flex_start{justify-content:flex-start;}
.c_flex_end{justify-content:flex-end;}
.c_item_center{align-items: center;}
.c_item_baseline{align-items: baseline;}
.c_item_top{align-items: flex-start;}
.c_flex_nowrap{flex-wrap: nowrap;}
.c_flex_wrap{flex-wrap: wrap;}
.c_flex_rewrap{flex-wrap: wrap-reverse;}

/* 英文限制 */
.c_break_all{ word-break: break-all;}
.c_input_none{
    border:none;
    outline: none;
    background: transparent;
}
.c_underline{
    text-decoration: underline;
}
.c_underline_no{text-decoration: none;}

/* 限制行数 */
.c_box_3{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
.c_box_5{
    display:-webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

/*文本超出指定宽度改为省略号*/
.c_ellipsis{
    display:inline-block;
    vertical-align:bottom;
    margin:0;
    padding:0;
    /*width:33px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

/*隐藏滚动条*/
.scroll_hidden{
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none;
}
.scroll_hidden::-webkit-scrollbar{
    display: none;
}
.c_disabled_scroll{
    height: 100vh;
    overflow: hidden;
}

/* 自制loading */
.c_loading{
    animation: c_loading 700ms infinite linear;
}
@keyframes c_loading{
    to {transform: rotate(-1turn) }
}

/* 3d */
.c_rotate_90{
    transform:rotate(90deg);
}
.c_rotate_180{
    transform:rotate(180deg);
}


/* 页面背景 */
.c_container_html{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.c_container_bg{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    background-repeat:no-repeat ;
    background-size: cover;
    filter: blur(0px);
}
.c_container_body{
    position: relative;
    z-index: 3;
    /*filter: blur(2px);*/
    overflow: auto;
}

/*投影*/
.c_shadow{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.c_shadow_light{
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}



/* animation */
.c_animate{
    transition: all .3s ease-in-out;
}
/*左移消失*/
.c_h_0{height: 0;overflow: hidden;}
.c_animate.c_hide_left{transform: translate3d(-100%, 0%, 0);}
/*右移消失*/
.c_animate.c_hide_right{transform: translate3d(100%, 0%, 0);}
/*右移消失*/
.c_animate.c_hide_bottom{ transform: translate3d(0%, 100%, 0);}
/*复位*/
.c_animate.c_reset{transform: translate3d(0%, 0%, 0) !important;}
/*隐藏*/
.c_animate_hide{
    animation:c_animate_hide .5s  forwards;
    /*
     infinite(循环)  forwards(保持最后的动作)
    */
}

@keyframes c_animate_hide{
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
        height: 0;
    }
}
